name: require-ticket-ref

on:
  pull_request:
    types: [opened, edited, synchronize, reopened, ready_for_review]

jobs:
  call:
    uses: wnml-io/.github/.github/workflows/require-ticket-ref.yml@main
